.backgroundLogin {
    background-image: url("../../Images/background.jpg");
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
       position: relative;
      overflow: auto;
   
    font-size: calc(10px + 2vmin);
    color: white;
  }