*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

 #container1{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

 #container2{
    height: 100%;
    width: 100%;
    overflow: visible;
    padding-right: 20px;
}


 #container3{
    height: 100%;
    width: '620px';
    overflow: auto;
    padding-right: 20px;
}